<h1>List of equipments</h1>
<p>Find me in app/views/equipment/index.html.erb</p>


<div class='bar-form-search'>
<form>
  <div class="form-row">
    <div class="col-md-2 mb-1">
      <label for="validationDefault03">Brand</label>
      <select class="custom-select">
        <option selected>Brand ?</option>
        <option value="1">F-One</option>
        <option value="2">Flysurfer</option>
        <option value="3">Naish</option>
        <option value="4">Airush</option>
        <option value="5">Blade</option>
        <option value="6">Liquid Force</option>
        <option value="7">Ozone</option>
      </select>
    </div>
    <div class="col-md-2 mb-1">
      <label for="validationDefault03">Style</label>
      <select class="custom-select">
        <option selected>Style ?</option>
        <option value="wave">Wave</option>
        <option value="freestyle">Freestyle</option>
        <option value="freeride">Freeride</option>
        <option value="foil">Foil</option>
      </select>
    </div>
    <div class="col-md-2 mb-1">
      <div class="slidecontainer" class="col-md-2 mb-1">
        <div><label for="validationDefault03">Size</label></div>
        <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="3" data-slider-max="16" data-slider-step="1" data-slider-value="10"/>
    </div>
      </div>
    </div>
    <div class="col-md-2 mb-1">
      <div class="slidecontainer" class="col-md-2 mb-1">
        <div><label for="validationDefault03">Date</label></div>
        <input type="date">
      </div>
    </div>
    <div class="col-md-2 mb-1">
      <label for="validationDefault03">Location</label>
      <input type="text" class="form-control" id="validationDefault03" placeholder="Location" required>
    </div>
    <div class="col-md-2 mb-1">
      <div class="slidecontainer" class="col-md-2 mb-1">
        <label for="validationDefault03">Price</label>
      <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="40" data-slider-max="100" data-slider-step="5" data-slider-value="70"/>
    </div>
    <div class="col-md-4 mb-2">
      <button class="btn btn-primary" type="submit" align-items-center='center'>Search Kitesurf</button>
    </div>
</form>
</div>
<div class="container">
  <div class="cards">

     <% @equipments.each do |equipment| %>
        <div class="option">
          <%= link_to equipment_path(equipment) do %>
              <i class="fas fa-eye"></i>
          <% end %>

          <%= link_to new_equipment_reservation_path(equipment) do %>
            <i class="fas fa-plus"></i>
            <% end %>

         <!--  <%= link_to equipment_path(equipment), method: :delete, data: { confirm: 'Are you sure?' }  do%>
            <i class="fas fa-trash"></i>
          <% end %> -->
        </div>

        <div class="infos">
          <h2><%= equipment.title %></h2>
          <h2 class="brand"> Brand: <%= equipment.brand %> </h2>
          <h2 class="model"> Model: <%= equipment.model %> </h2>
          <h2 class="size"> Size: <%= equipment.size %> m2 </h2>
          <h2 class="size"> Rating: <%= equipment.rating %> m2 </h2>
        </div>
    <% end %>
  </div>

</div>

