<div class="bg-white sticky-top">
    <div class="container p-3">
      <div class="row">
        <div class="col-8">
          <h3>My equipments</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-3">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-8">

            <% @equipments.each do |equipment| %>
            <div class="kitesurf-product">
              <%= cl_image_tag(equipment.photo, crop: :fill) %>
              <div class="kitesurf-product-infos">
                <h2><%= equipment.title %></h2>
                <p><strong>Brand </strong><%= equipment.brand.upcase %></p>
                <p><strong>Model </strong><%= equipment.model.upcase %></p>
                <p><strong>Size </strong><%= equipment.size %> m²</p>
              </div>
            </div>
            <%end%>
          </div>

  <div class="col-12 col-md-12 col-lg-4">
    <div class="bg-white border p-3">
    <!-- form -->
    <%= simple_form_for(@newequipment, url: equipments_path()) do |f| %>
    <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :title%>
        <%= f.input :description%>
        <div class="row">
          <div class="col-6">
            <%= f.input :brand %>
          </div>
          <div class="col-6">
            <%= f.input :model, autofocus: true%>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <%= f.input :style, collection: Equipment::CATEGORIES, selected: :first%>
          </div>
          <div class="col-6">
            <%= f.input :size %>
          </div>
        </div>
        <%= f.input :location%>
        <div class="row">
          <div class="col-6">
            <%= f.input :photo%>
          </div>
          <div class="col-6">
            <%= f.input :price %>
          </div>
        </div>
        <%= f.input :active%>

      <div class="form-actions btn btn-primary w-100">
        <%= f.button :submit,"Let's go !!" %>
      </div>
      </div>

      <% end %>

    </div>
    <!-- /form -->
  </div>

</div>
