<h2>New</h2>

<%= simple_form_for(@equipment, url: equipments_path()) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :model, autofocus: true%>
    <%= f.input :style, collection: Equipment::CATEGORIES, selected: :first%>

    <%= f.input :location%>
    <%= f.input :size %>
    <%= f.input :title%>
    <%= f.input :price %>
    <%= f.input :photo%>
    <%= f.input :active%>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>




 t.string "brand"





    t.boolean "active"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.string "title"
    t.text "description"
    t.index ["user_id"], name: "index_equipment_on_user_id"
