<h1>Equipment#new</h1>
<p>Find me in app/views/equipment/new.html.erb</p>
<div class="cards">
  <%= raise %>
  <div class="card">
    <%= @equipments.title %>
    <%= @equipment.brand %>
    <%= @equipment.model %>
    <%= @equipment.size %>
    <%= @equipment.rating %>
    <%= @equipment.photo %>
  </div>



</div>
