<h1>Equipment#show</h1>
<p>Find me in app/views/equipment/show.html.erb</p>

<form>
  <div class="form-row">
    <div class="col-md-2 mb-1">
      <label for="validationDefault03">Brand</label>
      <select class="custom-select">
        <option selected>Brand ?</option>
        <option value="1">F-One</option>
        <option value="2">Flysurfer</option>
        <option value="3">Naish</option>
        <option value="4">Airush</option>
        <option value="5">Blade</option>
        <option value="6">Liquid Force</option>
        <option value="7">Ozone</option>
      </select>
    </div>
    <div class="col-md-2 mb-1">
      <label for="validationDefault03">Style</label>
      <select class="custom-select">
        <option selected>Style ?</option>
        <option value="wave">Wave</option>
        <option value="freestyle">Freestyle</option>
        <option value="freeride">Freeride</option>
        <option value="foil">Foil</option>
      </select>
    </div>
    <div class="col-md-2 mb-1">
      <div class="slidecontainer" class="col-md-2 mb-1">
        <label for="validationDefault03">Size</label>
        </div> <input type="range" min="3" max="16" value="1" class="slider" id=size>
      </div>
    </div>
    <div class="col-md-2 mb-1">
      <label for="validationDefault03">Location</label>
      <input type="text" class="form-control" id="validationDefault03" placeholder="Location" required>
    </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>

<div class = 'banner'><%= @equipment.photo %></div>

<div class = 'equipment_card_presentation'>
  <h2><%= @equipment.title %></h2>
  <p><%= @equipment.rating %></p>
  <h3 class="brand">Brand: <%= @equipment.brand %></h3>
  <h3 class="model">Model: <%= @equipment.model %></h3>
  <h3 class="size">Size: <%= @equipment.size %>m2</h3>
  <p><%= @equipment.description %></p>
  <p><%= @equipment.photo %></p>
  <p><%= @equipment.style %></p>
  <p><%= @equipment.location %></p>
</div>
<p><% user_id = @equipment.user_id %> </p>
<div class="avatar" style="height: 50px; background-image: url('<%=cl_image_path User.find(user_id).avatar %>')">
</div>
<form>
  <div class="form-group">
    <h4><%= @equipment.price %> € per day</h4>
    <label>Date of the booking</label>
    <div class="d-flex flex-row justify-content-between align-items-center">
    <input type="date">
    <div class="invalid-feedback">Please provide a valid value.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
 <button type="submit" class="btn btn-primary"><%= link_to 'I reserve this equipment!', reservation_path , :onclick => "$('#form_id').submit()" %></button>
</form>





