<h1>Equipment#show</h1>
<p>Find me in app/views/equipment/show.html.erb</p>

<h2><%= @equipment.title %></h2>
<p><%= @equipment.description %></p>
<p><%= @equipment.photo %></p>
<p><%= @equipment.style %></p>
<p><%= @equipment.location %></p>
<p><%= @equipment.rating %></p>

<p><% user_id = @equipment.user_id %> </p>
<div class="avatar" style="height: 50px;
background-image: url('<%=cl_image_path User.find(user_id).avatar %>')">
</div>

<h2 class="brand">Brand: <%= @equipment.brand %></h2>
<h2 class="model">Model: <%= @equipment.model %></h2>
<h2 class="size">Size: <%= @equipment.size %>m2</h2>
