


<h1>Pages#home</h1>


<%= form_with(url: equipments_path, method: "get", local: true) do %>

<%= date_field(:reservation, :start_date) %>

<%= select_tag(:style, options_for_select(Equipment::CATEGORIES)) %>

<%= submit_tag("Search") %>
<% end %>

<div class="container">
  <div class="cards">
    <% @equipments.each do |equipment| %>
      <div class="card">
        <div class="card-product">
          <%= cl_image_tag(equipment.photo, crop: :fill) %>
          <div class="card-product-infos">
              <div class="title">
              <h2><%= equipment.title %></h2>
              </div>
              <div class="brand">
              <p><%= equipment.brand %> <%= equipment.model %></p>
              </div>
              <div class="size">
              <p>Size: <%= equipment.size %> m2 </p>
              </div>
              <div class="card-product-pricing">
              <h2 ><%= equipment.price %> €</h2>
              </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<h2>Different styles for your own style</h2>

  <div class='cards'>
    <div class="card-style" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('style/wave.jpg') %>)">
      Wave
    </div>

    <div class="card-style" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('style/freestyle.jpg') %>)">
      Freestyle
    </div>

    <div class="card-style" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('style/freeride.jpg') %>)">
      Freeride
    </div>

    <div class="card-style" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('style/foil.jpg') %>)">
      Foil
    </div>
</div>


</div>


